<% @post.each do |post| %>
    <h2> 
        <%= post.author %> 
    </h2>
    <p>
        <%= link_to(post.description, post_url(post)) %>
    </p>
    <h3>
        Created <%= time_ago_in_words(post.created_at) %> ago
    </h3>
<% end %>

